[Unit]
Description=Camera Setting
After=multi-user.target

[Service]
ExecStart=/home/trapmos/trapmos-detection/set_webcam.sh
Type=oneshot
StandardOutput=journal
StandardError=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target