[Unit]
Description=Run Trapmos every 30 minutes

[Timer]
OnCalendar=*:00,30
OnBootSec=10s
AccuracySec=10s
Persistent=false

[Install]
WantedBy=timers.target
